
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #1f1e49, #726cc7);
    overflow-x: hidden;
    font-family:"Lexend", sans-serif;
}

main {
    flex: 1 0 auto;
}


/* .hero-overlay-box {
    background-color: rgba(0, 0, 0, 0.753); 
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
} */


.btn {
    background-color: #702c52;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #726cc7;
}

.index-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #ffffff;
    padding: 20px;
}

.index-hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.index-hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.index-hero .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #702c52;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.index-hero .btn:hover {
    background-color: #726cc7;
}

.text-white {
    color: #ffffff; /* White text */
}

.message-box {
    background-color: white; /* Bright, clean background */
    color: black; /* Text color for readability */
    padding: 15px; /* Padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    margin-bottom: 10px; /* Space between messages */
    position: relative; /* For positioning the close button */
    text-align: center; /* Center align the text */
    width: 100%; /* Adjust to the container width */
    max-width: 500px; /* Optional: Set a maximum width */
    margin-left: auto; /* Center align horizontally */
    margin-right: auto;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    outline: none;
}