{% extends "base.html" %}
{% load static %}
{% block title %}{{ artwork.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <a href="javascript:history.back()" class="btn btn-secondary mb-3">← Go Back</a>

    <div class="row">
        <!-- Artwork Image -->
        <div class="col-md-6">
            <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}" class="img-fluid rounded">
        </div>

        <!-- Artwork Details -->
        <div class="col-md-6">
            <div class="bg-light text-dark p-4 rounded shadow">
                <h1 >{{ artwork.title }}</h1>
                <p><strong>Description:</strong> {{ artwork.description }}</p>
                <p><strong>Keywords:</strong> <span>{{ artwork.keywords }}</span></p>
                <p><strong>Theme:</strong> <span>{{ artwork.theme }}</span></p>
                <p><strong>Style:</strong> <span>{{ artwork.style }}</span></p>
                <p><strong>Price:</strong> <span>£{{ artwork.price }}</span></p>

                <!-- Add to Cart Button -->
                <form action="{% url 'add-to-cart' artwork.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg mt-3">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}