{% extends "base.html" %}

{% block title %}DreamScapes | Gallery{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-white text-shadow">Explore DreamScapes</h1>
    <div class="row">
        {% for artwork in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{% url 'artwork-detail' artwork.slug %}">
                        <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ artwork.title }}</h5>
                        <p class="card-text">{{ artwork.description|truncatewords:20 }}</p>
                        <p><strong>Theme:</strong> <span >{{ artwork.theme }}</span></p>
                        <p><strong>Style:</strong> <span >{{ artwork.style }}</span></p>
                        <p><strong>Price:</strong> <span >£{{ artwork.price }}</span></p>
                        <a href="{% url 'add-to-cart' artwork.id %}" class="btn btn-success">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}